/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*===========================================
				HELPERS
============================================*/
/* line 16, ../sass/style.scss */
.dark {
  background-color: #f5f5f5;
}

/* line 20, ../sass/style.scss */
.blue {
  background-color: #445162;
}

/* line 24, ../sass/style.scss */
.row {
  padding-bottom: 35px;
}

/* line 28, ../sass/style.scss */
.title {
  width: 100%;
  text-align: center;
}

/* line 39, ../sass/style.scss */
li {
  margin: 10px 0px;
}

/*===========================================
				FONTS
============================================*/
/*===========================================
				TEXT
============================================*/
/* line 48, ../sass/style.scss */
body {
  font-size: 1.2rem;
  font-family: arial;
}

/* line 58, ../sass/style.scss */
p {
  line-height: 25px;
  margin: 15px 0px;
}

/* line 63, ../sass/style.scss */
h1 {
  font-size: 3rem;
  font-weight: 800;
}

/* line 68, ../sass/style.scss */
h2 {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 2rem;
  color: #445162;
}

/* line 75, ../sass/style.scss */
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fff;
}

/* line 82, ../sass/style.scss */
h4 {
  font-size: 1.5rem;
  color: #445162;
}

/*===========================================
				BUTTONS
============================================*/
/* line 91, ../sass/style.scss */
button {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #445162;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

/*===========================================
				HEADER
============================================*/
/* line 107, ../sass/style.scss */
.header {
  padding: 70px 0px;
}
/* line 110, ../sass/style.scss */
.header-title h1 {
  margin-bottom: 20px;
}
/* line 113, ../sass/style.scss */
.header-title h1, .header-title li {
  color: white;
}

/*===========================================
				ABOUT
============================================*/
/*===========================================
				PLUSES
============================================*/
/* line 130, ../sass/style.scss */
.pluse-item {
  margin: 20px 0px;
}

/*===========================================
				SCREENSHOTS
============================================*/
/*===========================================
				FEEDBACK
============================================*/
/* line 143, ../sass/style.scss */
.comments-item {
  background-color: #ebebeb;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}
/* line 148, ../sass/style.scss */
.comments-item .author {
  color: #445162;
  font-weight: 800;
}

/*===========================================
				BUYOFFERS
============================================*/
/* line 158, ../sass/style.scss */
.row-card {
  width: 100%;
}

/* line 162, ../sass/style.scss */
.buycard {
  border: 1px solid #445162;
  border-radius: 10px;
  background-color: #445162;
}
/* line 166, ../sass/style.scss */
.buycard ol {
  margin-top: 20px;
}
/* line 168, ../sass/style.scss */
.buycard ol li {
  color: #fff;
}

/* line 174, ../sass/style.scss */
.price {
  background-color: #fff;
  color: #445162;
  margin: 0px -15px;
  padding: 20px 0px;
  text-align: center;
  font-size: 2rem;
}

/*===========================================
				FOOTER
============================================*/
/* line 190, ../sass/style.scss */
footer .title .col-12 h2 {
  color: #fff;
}

/* line 198, ../sass/style.scss */
.form input, .form textarea {
  width: 100%;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
/* line 206, ../sass/style.scss */
.form button {
  margin: 0px 25%;
}

/* line 212, ../sass/style.scss */
.contact-item li {
  color: #fff;
}
