/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*===========================================
				HELPERS
============================================*/
/* line 5, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/style.scss */
.clearfix {
  content: "";
  clear: both;
  display: table;
}

/* line 22, ../sass/style.scss */
.container * {
  z-index: 100;
}

/* line 27, ../sass/style.scss */
.dark {
  background-color: #121212;
}

/* line 31, ../sass/style.scss */
.light {
  z-index: 300;
  background-color: #fff;
}

/* line 36, ../sass/style.scss */
.row {
  clear: both;
}

/*===========================================
               TEXT
============================================*/
@font-face {
  font-family: "reg";
  src: url(../fonts/HelveticaRegular.ttf);
}
@font-face {
  font-family: "bold";
  src: url(../fonts/HelveticaBold.ttf);
}
@font-face {
  font-family: "light";
  src: url(../fonts/HelveticaLight.ttf);
}
/* line 59, ../sass/style.scss */
h1 {
  font-size: 4em;
  font-family: bold;
  color: #fff;
}

/* line 65, ../sass/style.scss */
h2 {
  font-size: 2em;
  font-family: reg;
  color: #fff;
}

/* line 71, ../sass/style.scss */
h3 {
  font-family: reg;
  font-size: 2.5em;
}

/* line 76, ../sass/style.scss */
h4 {
  font-family: bold;
  font-size: 1.5em;
}

/* line 81, ../sass/style.scss */
.upcase {
  text-transform: uppercase;
}

/* line 85, ../sass/style.scss */
.bold {
  font-family: bold;
}

/* line 89, ../sass/style.scss */
.title {
  line-height: 42px;
  margin-top: 30px;
}

/* line 94, ../sass/style.scss */
p {
  margin-top: 20px;
  line-height: 24px;
  font-family: light;
  color: #646464;
}

/*===========================================
               NAVIGATION
============================================*/
/* line 105, ../sass/style.scss */
nav {
  padding: 20px 0px;
}

/* line 109, ../sass/style.scss */
#signup {
  background-color: #121212;
  color: white;
  border-color: #2e2e2e;
  font-family: reg;
}
/* line 114, ../sass/style.scss */
#signup:hover {
  background-color: #2e2e2e;
}
/* line 117, ../sass/style.scss */
#signup:active {
  background-color: #22b737;
}

/* line 122, ../sass/style.scss */
.logo {
  width: 100px;
  height: 50px;
  background: url(../img/PLEX_LOGO.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 132, ../sass/style.scss */
.menu .menu_item_link {
  color: white;
  font-family: reg;
}
/* line 135, ../sass/style.scss */
.menu .menu_item_link:hover {
  color: #69e44d;
  background-color: #202020;
  border-radius: 30%;
}

/*===========================================
               HEADER
============================================*/
/* line 147, ../sass/style.scss */
.scream {
  margin-top: 140px;
  margin-bottom: 220px;
  line-height: 60px;
}

/* line 153, ../sass/style.scss */
#getstart {
  background-color: #22b737;
  color: white;
  border-color: #22b737;
  font-family: reg;
  width: 165px;
}
/* line 159, ../sass/style.scss */
#getstart:hover {
  background-color: #69e44d;
  border-color: #69e44d;
}
/* line 163, ../sass/style.scss */
#getstart:active {
  background-color: #69e44d;
  border-color: #22b737;
}

/* line 169, ../sass/style.scss */
.cirk {
  position: absolute;
  top: 230px;
  right: 10%;
  z-index: 20;
}

/*===========================================
               APP
============================================*/
/* line 184, ../sass/style.scss */
.download {
  margin-top: 20px;
}
/* line 186, ../sass/style.scss */
.download a {
  margin-left: 20px;
}
/* line 188, ../sass/style.scss */
.download a img {
  width: 150px;
  height: 48px;
}

/* line 195, ../sass/style.scss */
.phone {
  margin-top: 40px;
}
/* line 197, ../sass/style.scss */
.phone img {
  height: 500px;
}
