@import "compass/reset";

/*===========================================
               HELPERS
============================================*/

h1, h2, h3, h4, h5, h6, p, a, li, ul, div, span{
	font-family: 'Montserrat';
}

strong{
	color: #1abc9c
}

a{
	text-decoration: none;
}

html{
	font-size: 10px;
}

.active-item{
	display: block;
}

/*===========================================
               HEADER
============================================*/
header{
	padding: 90px 0px 30px;
	background-color: #7a7a7a;
	min-height: 100vh;
	color: #fff;
	h1{
		font-size: 4rem;
		text-align: center;
		margin-top: 18px;
	}
	h3{
		font-size: 1.4rem;
		text-align: center;
		font-weight: 1000;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	h5{
		font-size: 2.2rem;
		text-align: center;
		margin-top: 26px;
	}
	p{
		font-size: 1.5rem;
		text-align: center;
		margin-top: 26px;
		a, a:visited{
			color: #1abc9c;
		}
	}
}

.subscribe{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 18%;
}


/* ------ TITLE ------ */

.title{
	margin: 100px auto;
	&-icon{
		height: 70px;
		margin-bottom: 40px;
		text-align: center;
		i{
			font-size: 60px;
		}
	}
	h3{
		font-size: 1.8rem;
		margin-bottom: 30px;
		text-align: center;
		font-weight: 1000;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	h2{
		font-size: 6rem;
		text-align: center;
	}
}



/*===========================================
               NAV
============================================*/

nav, .nav-wrapper, .menu, .social{
	display: flex;
	height: 100%;
}

nav{
	box-shadow: 0px 10px 20px 0px #d8d8d8;
	height: 62px;
	color: #000;
	justify-content: center;
}

.nav-wrapper{
	max-width: 1200px;
	width: 90%;
	padding: 0px 90px;
}

.logo{
	padding: 4px 0px;
	max-width: 50px;
	img{
		height: 100%;
	}
}

.menu{
	color: black;
	margin-left: 20px;
	flex-wrap: wrap;
	&_item{
		padding: 27px 0px;
		&_link{
			padding: 20px;
			font-weight: 800;
			font-size: 1.2rem;
			color: #7a7a7a;
			&:hover{
				color: #1abc9c;
			}
		}
	}	
}

.social{
	margin-left: auto;
	li{
		padding-top: 20px;
		a{
			padding: 10px;
			i{
				font-size: 2.5rem;
			}
		}
		a:visited{
			color: #000;
		}
	}
}
.fa-facebook-f{
	color: #3b5998;
}
.fa-twitter{
	color: #00aced;
}
.fa-ellipsis-h{
	color: #979795;
}

/*===========================================
               FORM
============================================*/

input{
	width: 250px;
	height: 45px;
	border: 1px solid #e3e3e3;
	padding-left: 20px;
	&::placeholder{
		color: #7a7a7a;
	}
}


button{
	background-color: #1abc9c;
	border: none;
	color: #fff;
	padding: 0px 15px
}

/*===========================================
               SERVICES
============================================*/

.services{
	display: flex;
}

.service{
	text-align: center;
	margin: 20px 0px 60px;
	&_icon{
		height: 70px;
		margin-bottom: 40px;
		i{
			font-size: 70px;
		}
	}
	h4{
		font-size: 3rem;
		font-weight: 1000;
		margin-bottom: 35px;
	}
	p{
		font-size: 1.8rem;
		line-height: 3rem;
	}
}

.fa-mobile-alt{
	color: #599dbb;
}

.fa-chart-line{
	color: #9f5cd8;
}
.fa-lightbulb{
	color: #f1438a;
}

/*===========================================
               CONTENTS
============================================*/

#contents{
	padding-bottom: 100px;
}

.slider-wrapper{
	width: 768px;
	min-width: 700px;
}

.slider{
	width: 100%;
	img{
		width: 100%;
	}
}


.slide{
	display: none;
}
.slide:first-child{
	display: block;
}

.accardion-weapper{
	width: 364px;
	min-width: 324px;
}

.accardion{
	border: 2px solid #f4f4f4;
}

.acc{
	&_title{
		border: 2px solid #f4f4f4;
		padding: 20px;
		.massage{
			&_main{
				font-size: 1.8rem;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			&_main.active{
				font-size: 1rem;
				margin-bottom: 10px;
				font-weight: 1000;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
			&_sub{
				font-size: 1rem;
				margin-bottom: 10px;
				font-weight: 1000;
				text-transform: uppercase;
				letter-spacing: 3px;
				color: #c9c9c9;
			}
			&_sub.active{
				font-size: 1.8rem;
				margin-bottom: 10px;
				text-transform: uppercase;
				color: #000;
			}
		}
	}
	&_content{
		display: none;
	}
}