/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*===========================================
				HELPERS
============================================*/

$hover: #d4a77d;
$bg: #fbfaf8;
$btn-color: #998675;
$btn-color-bottom: #827163;
$btn-color-hover: #362f2d;
$btn-color-bottom-hover: #1b1818;
/*===========================================
				FONTS
============================================*/

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Montserrat-Light.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Montserrat-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'RalewayExBold';
	src: url('../fonts/Raleway-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Raleway-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Raleway-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/Raleway-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Raleway-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'RalewayMed';
	src: url('../fonts/Raleway-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Raleway-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Raleway-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'RalewaySem';
	src: url('../fonts/Raleway-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Raleway-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/Raleway-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/Raleway-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/Raleway-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/*===========================================
				TEXT
============================================*/
body{
	font-family: 'Montserrat';
	font-size: 10px;
}

h1{
	font-family: 'RalewayExBold';
	font-size: 5.2rem;
	margin: 1rem 0;
}

h2{
	font-family: 'RalewaySem';
	font-size: 2rem;
	color: #555555;
}

small{
	font-family: 'Montserrat';
	font-size: 1rem;
	color: #8c8c8c;
}
/*===========================================
				BUTTONS
============================================*/

.button{
	background-color: $btn-color;
	border: none;
	border-bottom: 3px solid $btn-color-bottom;
	border-radius: 5px;
	padding: 1.2rem 2rem;
	color: #fff;
	text-transform: uppercase;
	font-family: 'RalewayExBold';
	font-size: 0.8rem;
	&:focus{
		outline: none;
	}
	&:hover{
		background-color: $btn-color-hover;
		border-bottom: 3px solid $btn-color-bottom-hover;
	}
}

.btn-wrapper{
	padding: 2rem 0rem;
}
/*===========================================
				HEADER
============================================*/
.header{
	&_bg{
	filter: brightness(40%);
	}
	&-title{
		text-align: center;
		margin: 10rem auto 0px;
		color: #ffffff;
		span{
			font-family: 'RalewayMed';
			font-size: 2.6rem;
		}
		p{
			font-family: 'Montserrat';
			font-size: 1.2rem;
			line-height: 1.6rem;
			margin-bottom: 1.5rem;
		}
	}
}

.fotorama{
	&__dot{
		border: 1px solid #fff;
		width: 8px;
		height: 8px;
	}
	&__nav-wrap{
	position: absolute;
	bottom: 0;
	}
}


/*===========================================
				NAVBAR
============================================*/
header{
	position: absolute;
	top: 0;
	width: 100%;
}
.nav{
	&-link{
		color: #fff;
		font-size: 1.1rem;
		&:hover{
			color: $hover;
		}
	}
}
.navbar{
	width: 100%;
	&-brand{
		img{
			height: 70px;
		}
	}
}


/*===========================================
				JOBS
============================================*/
.L{	
	position: absolute;
	bottom: 0;
	content: "";
	width: 100%;
	height: 4px;
	&-line{
		content: "";
		height: 4px;
		width: 35%;
		background-color: #f7f5f2;
		margin: auto;		
	}
}

.job{
	margin-top: 6rem;
	margin-bottom: 2rem;
	&-card{
		height: 16rem;
		position: relative;
		text-align: center;
		&-title{
			font-size: 1.6rem;
			margin: 1.2rem 0rem;
			font-weight: 800;
		}
		&-content{
			font-size: 1rem;
			line-height: 1.8rem;
		}
		// &:hover + .job-card-title{
		// 	color: $hover;
		// }
	}
}


.icon{
	text-align: center;
}
/*===========================================
				SCREEN
============================================*/

.screen{
	margin-top: 3rem;
	background-color: $bg;
	&-title{
		text-align: center;
		margin-top: 5rem;
		margin-bottom: 0.8rem;
		&-big{
			margin-bottom: 2rem;
		}
		&-small{
			line-height: 2.2rem;
		}

	}
	&-browser{
		position: relative;
		min-height: 30rem;
		&-img{
			position: absolute;
			&_left{
				z-index: 10;
				left: 0;
			}
			&_center{
				z-index: 100;
				left: 50%;
				transform: translate(-50%, 0)
			}
			&_right{
				z-index: 10;
				right: 0;
			}
		}
	}
}

/*===========================================
				BUY LINE
============================================*/

.buyline{
	background: #211b19; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #211b19 0%, #4e3427 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #211b19 0%,#4e3427 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #211b19 0%,#4e3427 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-top: 1rem;
	&-title{
		color: #fff;
		padding: 1rem 0rem;
		font-family: 'RalewayMed';
		&-big{
			font-size: 2rem;
			margin-bottom: 1.2rem;
			color: #fff;
			strong{
				color: $hover;
			}
		}
		&-small{
			font-size: 1.5rem;
		}
	}
	&-button{
		width: 100%;
	}
}
/*===========================================
				######
============================================*/
/*===========================================
				######
============================================*/
/*===========================================
				######
============================================*/
/*===========================================
				######
============================================*/
/*===========================================
				######
============================================*/
/*===========================================
				######
============================================*/
/*===========================================
				######
============================================*/
