/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*===========================================
				HELPERS
============================================*/

$blue: #445162;
$dark: #f5f5f5;
$darker: #ebebeb;

.dark{
	background-color: $dark;
}

.blue{
	background-color: $blue;
}

.row{
	padding-bottom: 35px;
}

.title{
	width: 100%;
	text-align: center;
}
// img{
// 	border: solid 2px black;
// 	width: 100%;
// 	background-color: black;
// 	height: 400px;
// }

li{
	margin: 10px 0px;
}
/*===========================================
				FONTS
============================================*/
/*===========================================
				TEXT
============================================*/
body{
	font-size: 1.2rem;
	font-family: arial;
	// font-family: Comic Sans MS;
}

// h1,h2,h3,h4,h5,h6{
// 	display: blok;
// }

p{
	line-height: 25px;
	margin: 15px 0px;
}

h1{
	font-size: 3rem;
	font-weight: 800;
}

h2{
	margin-top: 45px;
	margin-bottom: 35px;
	font-size: 2rem;
	color: $blue;
}

h3{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2rem;
	color: #fff;
}

h4{
	font-size: 1.5rem;
	color: $blue;
}

/*===========================================
				BUTTONS
============================================*/

button{
	width: 100%;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 15px;
	background-color: #fff;
	color: $blue;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

/*===========================================
				HEADER
============================================*/

.header{
	padding: 70px 0px;
	&-title{
		h1{
			margin-bottom: 20px;
		}
		h1,li{
			color: white;
		}
	}
}

/*===========================================
				ABOUT
============================================*/
/*===========================================
				PLUSES
============================================*/

.pluse{
	&-col{

	}
	&-item{
		margin: 20px 0px;
	}
}

/*===========================================
				SCREENSHOTS
============================================*/
/*===========================================
				FEEDBACK
============================================*/

.comments{
	&-item{
		background-color: $darker;
		padding: 5px;
		border-radius: 10px;
		margin-top: 10px;		
		.author{
			color: $blue;
			font-weight: 800;
		}
	}	
}

/*===========================================
				BUYOFFERS
============================================*/
.row-card{
	width: 100%;
}

.buycard{
	border: 1px solid $blue;
	border-radius: 10px;
	background-color: $blue;
	ol{
		margin-top: 20px;
		li{
			color: #fff;
		}
	}
}

.price{
	background-color: #fff;
	color: $blue;
	margin: 0px -15px;
	padding: 20px 0px;
	text-align: center;
	font-size: 2rem;
}

/*===========================================
				FOOTER
============================================*/

footer{
	.title{
		.col-12{
			h2{
				color: #fff;
			}
		}
	}
}

.form{
	input, textarea{
		width: 100%;
		margin: 10px 0px;
		border: none;
		border-radius: 5px;
		padding: 10px;
	}

	button{
		margin: 0px 25%;
	}
}

.contact-item{
	li{
		color: #fff;
	}
}