/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 /*===========================================
 				HELPERS
 ============================================*/

@import "compass/reset";

$headerColor: #121212;
$greenDark: #22b737;
$greenLight: #69e44d;
.clearfix{
	content: "";
	clear: both;
	display: table;
}

.container{
    *{
        z-index: 100;
    }
}

.container-fluid{
    overflow: hidden;
}

.dark{
    background-color: $headerColor;
}

.light{
    z-index: 300;
    background-color: #fff;
}

.row{
    clear: both;
}

/*===========================================
               TEXT
============================================*/

@font-face {
    font-family: "reg";
    src: url(../fonts/HelveticaRegular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/HelveticaBold.ttf);
}

@font-face {
    font-family: "light";
    src: url(../fonts/HelveticaLight.ttf);
}

h1{
    font-size: 4em;
    font-family: bold;
    color: #fff;
}

h2{
    font-size: 2em;
    font-family: reg;
    color: #fff;
}

h3{
    margin-top: 10px;
    font-family: reg;
    font-size: 3em;
    color: $greenLight;
}

h4{
    font-family: bold;
    font-size: 1.5em;
}

h5{
    @extend h4;
    color: white;
}

h6{
    font-family: reg;
    font-size: 1.15em;
}

.upcase{
    text-transform: uppercase;
}

.bold{
    font-family: bold;
}

.title{
    line-height: 42px;
    margin-top: 30px;
}

p{
    font-size: 1.1em;
    margin-top: 20px;
    line-height: 25px;
    font-family: light;
    color: #646464;
}

/*===========================================
               NAVIGATION
============================================*/

nav{
    padding: 20px 0px;
}

#download{
    background-color: $headerColor;
    color: white;
    border: 2px solid #2e2e2e;
    border-radius: 25px;
    font-family: reg;
    &:hover{
        background-color: #2e2e2e;
    }
    &:active{
        background-color: $greenDark;
    }
}

.logo{
    width: 100px;
    height: 50px;
    margin-right: auto;
    img{
        width: 100%;
    }
}

.menu{
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

    &_item{
        margin-right: 14px;
        &_link{
            color: white;
            font-family: reg;
            text-decoration: none;
            padding: 15px;
            &:hover{
                color: $greenLight;
                background-color: #202020;
                border-radius: 25px;
                text-decoration: none;
            }
            &:focus{
                background-color: $headerColor;
                border: 0px solid;
            }
        }
        &_btn {
            display: none;
            padding: 10px;
        }
    }

    // &_active{
    //     display: block;
    // }
}

.fa-bars{
    color: white;
}

.fa-bars:hover{
    color: $greenLight;
}
/*===========================================
               HEADER
============================================*/

header{
    background-image: url(../img/cirk.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.scream{
    margin-top: 160px;
    margin-bottom: 285px;
    line-height: 60px;
}

.btn{
    background-color: $greenDark;
    color: white;
    border-color: $greenDark;
    font-family: reg;
    width: 165px;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    // border: 1px solid transparent;
    border-radius: 4px;
    &:hover{
        background-color: $greenLight;
        border-color: $greenLight;
    }
    &:active{
        background-color: $greenLight;
        border-color: $greenDark;
    }
    &:focus{
        text-decoration: none;
        background-color: $greenLight;
        border-color: $greenDark;
    }
}

// .cirk{
//     // width: 600px;
//     // height: 600px;
//     // border: solid 120px #202020;
//     // border-radius: 50%;
//     position: absolute;
//     height: 500px;
//     top: 216px;
//     right: 10%;
//     z-index: 20;
// }

/*===========================================
               APP
============================================*/

.app_title{
    padding-left: 30px;
    p{
        margin-top: 25px;
        padding-left: 80px;
    }
}

.download{
    margin-top: 20px;
    padding-left: 80px;
    a{
        margin-left: 20px;
        img{
            width: 150px;
            height: 48px;
        }
    }
}

.phone{
    margin-top: 40px;
    //background-image: url(../img/app.png)
    img{
        height: 620px;
        display: inherit;
        margin: auto;
    }
}

.web{
    margin-top: 40px;

    img{
        height: 620px;
        display: inherit;
        margin: auto;
    }
}

.mobile{
    padding-bottom: 40px;
}

.btn-link{
    margin-top: 20px;
    width: 100%;
}

/*===========================================
               AUTHOR
============================================*/

.author{
    margin-top: 40px;
    &_photo{
        height: 505px;
        background: url(../img/AL2.jpg);
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center center;
    }
	&_descript{
		margin-bottom: 20px;
	}
}

/*===========================================
               VIDEO
============================================*/

.videooff{
    //position: absolute;
    z-index: 300;
    display: block;
    width: 100%;
    height: 570px;
    background: url(../img/play.png);
    background-repeat: no-repeat;
    background-color: $headerColor;
	background-position: center center;
    h5{
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*===========================================
               FOOTER
============================================*/

.contact{
    margin-top: 80px;
    padding-bottom: 40px;
    &_item{
		margin-bottom: 40px;
        p{
            font-size: 0.8em;
        }
        .mail{
            font-size: 1.2em;
            color: $greenLight;
            font-family: bold;
        }
    }
}

.copy{
    font-size: 1em;
    margin-bottom: 70px;
}

/*===========================================
               @MEDIA
============================================*/

@media screen and (max-width: 1024px){

	// .menu_item{
	// 	margin-left: -40px;
	// }

	.cirk{
		top: 325px;
	}

    .web{
        img{
            height: 100%;
            width: 100%;
        }
    }

    .logo{
        display: inline-block;
    }

    .menu{
        display: block;
    }

    .menu_item{
        display: none;
        padding: 24px 0px;
    }

    .menu_item_btn{
        display: block;
        float: right;
    }

    .menu_active{
        display: block;
    }

    #download{
        border-radius: 0px;
        border: none;
        border-top: 2px solid #2e2e2e;
    }

}

@media screen and (max-width: 768px){



	.cirk{
		top: 218px;
	}

	

	nav{
		padding-right: 30px;
	}

	.contact_item {
		p {
		margin-top: 8px;
		}
		.mail{
			margin-top: 25px;
		}
	}

    

    

}

@media screen and (max-width: 425px){

	.menu .menu_item_link{
		width: 100%;
		&:hover{
			border-radius: 0px;
		}
	}

	nav{
		padding-right: 0px;
	}

	.cirk{
		top: 478px;
	}

	.app_title p {
		padding: 0px;
	}

}

@media screen and (max-width: 375px){

	h1{
		font-size: 3.2em;
	}
	h2{
		font-size: 1.5em;
	}
}

@media screen and (max-width: 320px){

	.download{
		padding-left: 0px;
	}
}
