/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 /*===========================================
 				HELPERS
 ============================================*/

@import "compass/reset";

$headerColor: #121212;
$greenDark: #22b737;
$greenLight: #69e44d;
.clearfix{
	content: "";
	clear: both;
	display: table;
}

.container{
    *{
        z-index: 100;
    }
}

.dark{
    background-color: $headerColor;
}

.light{
    z-index: 300;
    background-color: #fff;
}

.row{
    clear: both;
}

/*===========================================
               TEXT
============================================*/

@font-face {
    font-family: "reg";
    src: url(../fonts/HelveticaRegular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/HelveticaBold.ttf);
}

@font-face {
    font-family: "light";
    src: url(../fonts/HelveticaLight.ttf);
}

h1{
    font-size: 4em;
    font-family: bold;
    color: #fff;
}

h2{
    font-size: 2em;
    font-family: reg;
    color: #fff;
}

h3{
    font-family: reg;
    font-size: 2.5em;
}

h4{
    font-family: bold;
    font-size: 1.5em;
}

.upcase{
    text-transform: uppercase;
}

.bold{
    font-family: bold;
}

.title{
    line-height: 42px;
    margin-top: 30px;
}

p{
    margin-top: 20px;
    line-height: 24px;
    font-family: light;
    color: #646464;
}

/*===========================================
               NAVIGATION
============================================*/

nav{
    padding: 20px 0px;
}

#signup{
    background-color: $headerColor;
    color: white;
    border-color: #2e2e2e;
    font-family: reg;
    &:hover{
        background-color: #2e2e2e;
    }
    &:active{
        background-color: $greenDark;
    }
}

.logo{
    width: 100px;
    height: 50px;
    background: url(../img/PLEX_LOGO.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.menu .menu_item{
    &_link{
        color: white;
        font-family: reg;
        &:hover{
            color: $greenLight;
            background-color: #202020;
            border-radius: 30%;
        }
    }
}

/*===========================================
               HEADER
============================================*/

.scream{
    margin-top: 140px;
    margin-bottom: 220px;
    line-height: 60px;
}

#getstart{
    background-color: $greenDark;
    color: white;
    border-color: $greenDark;
    font-family: reg;
    width: 165px;
    &:hover{
        background-color: $greenLight;
        border-color: $greenLight;
    }
    &:active{
        background-color: $greenLight;
        border-color: $greenDark;
    }
}

.cirk{
    // width: 600px;
    // height: 600px;
    // border: solid 120px #202020;
    // border-radius: 50%;
    position: absolute;
    top: 230px;
    right: 10%;
    z-index: 20;
}

/*===========================================
               APP
============================================*/

.download{
    margin-top: 20px;
    a{
        margin-left: 20px;
        img{
            width: 150px;
            height: 48px;
        }
    }
}

.phone{
    margin-top: 40px;
    img{
        height: 500px;
    }
}
